

.box {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededf2;
    padding: 15px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 4px 10px 16px #ffffff50 ;
    max-width: 900px;
    max-height: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.reload {
    width: 25px;
    
    
}


.reload:hover {
    transform: rotate(1000grad);
    transition: 1s;
}

#foguete {
    width: 48px;
    left: 89%;
    top: 14%;
    position: absolute;
    width: 100px;
    max-width: 900px;
    max-height: 900px;
}

#foguete:hover {
    transform: rotate(20grad);
    transition: 2s;
    

}



fieldset {
    border: 50% solid #3e240d;
    border-radius: 20px;
    
}



legend{
    border: 5px solid #271338;
    width: 50%;
    text-align: center;
    background-color: #271338;
    border-radius: 10px;
    color: #f6f2f2;
    font-size: 18px;
    
}


.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 100px;
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #271338;
    box-shadow: 5px 5px 15px #000000b3;
    border: 7px;
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 30px;


}
.relogio span.tempo{
    font-size: 10px;

}
h2 {
    color: #000000;
    text-align: center;
    font-size: 24px;
   
}



#botaoComum {
    background-color: #4c2a64;
    width: 100%;
    border: none;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;

}

.content-final-div{
    color: black;
    font-size: 20px;
    text-align: center;
}


h3{
    text-align: center;
    font-size: 18px;
    color: #000000;

}

#botaoPrioritario {
    background-color: #a84b94;
    width: 100%;
    border: none;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;

}

#botaoComum:hover{
    background-color: #2b0149;
    font-size: 16px;
    transition: 1S;

}

#botaoPrioritario:hover{
    background-color: #ea3bc4;
    font-size: 16px;
    transition: 1S;

}

